<%- include('partials/header.ejs'); %>

    <section class="header">
        <div class="container search-bar">
            <!-- <p class="default-opt">default options</p> -->
            <form action="/search" method="post" class="form-search">
                <div class="type">
                    <!-- <label for="opt-type">Type</label> -->
                    <div class="select">
                        <select name="type" id="opt-type" >
                            <option value="emailed" selected>Emailed</option>
                            <option value="shared" class="shared">Shared</option>
                            <option value="viewed">Viewed</option>
                        </select>
                    </div>
                </div>
                <div class="period">
                    <!-- <label for="opt-period">Period</label> -->
                    <div class="select">
                        <select name="period" id="opt-period">
                            <option value="1">1</option>
                            <option value="7" selected>7</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                </div>
                <label for="sharedOnFB" class="sharedOnFB">
                    <p>Shared on</p>
                    <span class="btn" style="margin: 0 10px; padding: 5px; border-radius: 5px;">Facebook</span>
                    <input type="checkbox" name="sharedOnFB" id="sharedOnFB" value="true">
                    <div class="checkmark">
                        <i class="lni lni-checkmark" style="display: block;"></i>
                    </div>
                </label>
                <button type="submit" class="btn">
                    Search
                </button>
            </form>
        </div>
    </section>

    <% if (data.status === 'OK') { %>
        <div class="container">
            <% data.results.forEach((result) => { %>
                <% let imageUrl = ''; %>
                <% result.media.forEach((mediaItem) => { %>
                    <% imageUrl = mediaItem['media-metadata'][2].url; %>
                <% }); %>
                <div class="card">
                    <img src="<%= imageUrl %>" class="card-img" alt="">
                    <div class="card-body">
                        <h2 class="card-title"><%= result.title %></h2>
                        <p class="card-text"><%= result.abstract %></p>
                        <small class="text-muted"><%= result.published_date %></small>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>

    <script>
        const selectedItemType = document.getElementById('opt-type');
        const selectedItemPeriod = document.getElementById('opt-period');
        const sharedOnFB = document.querySelector('.sharedOnFB');
        selectedItemType.addEventListener('change', () => {
            if (selectedItemType.value == 'shared') {
                sharedOnFB.style.display = 'flex';
            } else {
                sharedOnFB.style.display = 'none';
            }
        });
        
    </script>
<%- include('partials/footer.ejs'); %>
